<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form %}
        <h1>imformacion del usuario</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" name="editar" value="editar">Guardar cambios</button>
        </form>
        <div>Nombre usuario : {{ user.username }}</div>
        <div>rol: {{ user.rol }}</div>
        {% if user.imagen %}
            <img src="{{ user.imagen.url }}" alt="imagen de usuario">
        {% endif %}
    {% else %}
        <div>no se encontro el cliente</div>
    {% endif %}
</body>
</html>