<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Galter/Appgalter/css/administrador.css">
    <title>Administrador</title>
</head>
<header>
    <img class="logo" src="/Galter/Appgalter/img/logo.png" alt="">
</header>
<body>
    <div class="logo"></div>

    <section class="form">
        <h4>Ingresa Como Administrador</h4>
        <input class="controls" type="text" name="usuario" id="usuario" placeholder="Administrador">
        <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
        <input class="botons" type="submit" value="Registrarse" id="submitBtn">
        <p><a href="index.html">Volver</a></p>
    </section>

    <script>
        document.getElementById("submitBtn").addEventListener("click", function(event) {
            event.preventDefault();

            var usuario = document.getElementById("usuario").value;
            var contrasena = document.getElementById("contrasena").value;

            if (usuario === "natalia" && contrasena === "1234") {
                window.location.href = "menu.html";
            }
            else {
                alert("Usuario o contraseña incorrectos");
            }
        });
    </script>
</body>
</html>
