{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/codigo.css'%}">
    <title>Verificacion</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.png" alt="">
    </header>

    <p>Un codigo de verificacion a sido enviado al correo del administrador de la aplicacion: Ingrese en codigo aqui</p>


    <div class="cuadros">
        <div style="display: flex;">
            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>

        </div>
        
    </div>
      


    <div class="boton">
        <a href="/menu"><input class="botons" type="submit" value="Siguiente"></a>

    </div>


    
</body>
</html>