<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Galter/Appgalter/css/index.css">
    <title>Opciones</title>
</head>
<body>
    <section>
        <img src="/Galter/Appgalter/img/logo.png" alt="">    

        <div class="botones">
            <a href="administrador.html"><input class="botons1" type="submit" value="Entrar"></a>
            <a href="registro.html"><input class="botons" type="submit" value="Registrarse"></a>
        </div>
        
    

    </section>

    
</body>
</html>