{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/iniciosesion.css'%}">
    <title>Iniciar Sesion</title>
</head>
<body>
    <header>
        <img class="logo" src="/Galter/Appgalter/img/logo.png" alt="">
    </header>
    <form action="/iniciarSesion/" method="post" class="form">
        <h4>Iniciar Sesion</h4>
        {% csrf_token %}
        {% if form.errors %}
            <script>
                var errorMessage = "{% for field in form %}{% for error in field.errors %}{{ error }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endfor %}";
                alert("Errores en el formulario: " + errorMessage);
            </script>
        {% endif %}

        {{ form.username }}
            {% if form.errors.username %}
                <div class="error">
                    {{ form.errors.username }}
                </div>
            {% endif %}

        {{ form.password }}
            {% if form.errors.password %}
                <div class="error">
                    {{ form.errors.password }}
                </div>
            {% endif %}
        <button type="submit" class="botons" id="submitBtn">Iniciar Sesion</button>
        <p><a href="/index">Volver</a></p>
    </form>
</body>
</html>