{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'gestionProv.js'%}"></script>
    <script src="{% static 'consultarProv.js'%}"></script>
    <link rel="stylesheet" href="{% static 'index2.css' %}">
    <title>Insertar proveedor</title>
</head>
<body>
    <h1> Insertar proveedor </h1>

    <form method="" action="" id="frmProveedor">
        {% csrf_token %}
    
        <label for="nombre_proveedor" >Nombre Del Proveedor</label>
        <input type="text" name="nombre" id="nombre" >

        <label for="telefono_proveedor" >Telefono Del Proveedor</label>
        <input type="text" name="telefono" id="telefono" >

      <input type="submit"  value="Guardar" >       
    </form>

    <table id="ConsultaProveedor"></table>
    
  
</body>
</html>