{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'gestionCli.js'%}"></script>
    <script src="{% static 'consultarCli.js'%}"></script>
    <link rel="stylesheet" href="{% static 'index6.css' %}">
    <title>Insertar Clientes</title>
</head>
<body>
    <h1> Insertar Clientes </h1>

    <form method="" action="" id="frmClientes">
        {% csrf_token %}
    
        <label for="id_cliente" >Id Del Cliente</label>
        <input type="text" name="id" id="id" >

        <label for="nombre_cliente" >Nombre Del Cliente</label>
        <input type="text" name="nombre" id="nombre" >

        <label for="telefono_cliente" >Telefono Del Cliente</label>
        <input type="text" name="telefono" id="telefono" >

        <label for="representante_cliente" >Representante Del Cliente</label>
        <input type="text" name="representante" id="representante" >

        <label for="direccion" >Direccion Del Cliente</label>
        <input type="text" name="direccion" id="direccion" >



      <input type="submit"  value="Guardar" >       
    </form>

    <table id="ConsultaCliente"></table>
    
  
</body>
</html>