{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/masOpciones.css'%}">
    <title>Mas opciones</title>
</head>
<body>

    

    <section>
        <div class="volver">
            <button onclick="goBack()">Volver</button>
            <script>
                function goBack() {
                  window.history.back();
                }
                </script>
              
        </div>
        <img class="imeg" src="../static/img/logo.png" alt=""> 

        <img class="usu1" src="../static/img/usuario.png" alt="">


        <a href="/menu"><h3>Home</h3></a>
        <h2>Carlos Rodriguez</h2>
        <h2>Administrador</h2>
    </section>




    <div class="container">
        <div class="listar_Prod">

            <a href="/opcionesProd">
                <img class="contx" src="../static/img/producto.png" alt="Descripción de la imagen">
              </a>
              <h1>Opciones de  producto </h1>
              
        </div>


        <div class="listar_Mate">
        
            <a href="opcionesMate.html">
                <img class="contx" src="../static/img/material.png" alt="Descripción de la imagen">
              </a>
              <h1>Opciones de material</h1>
              
        </div>
        <div class="calculadora">
            
            <a href="otra_pantalla.html">
                <img class="contx" src="../static/img/pedido.png" alt="Descripción de la imagen">
              </a>
              <h1>Opciones de pedido </h1>

        </div>
        
        
    </div>

    



    
    
</body>
</html>
