{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Galter/Appgalter/css/opcionesMate.css ">
    <title>Opciones Materiales</title>
</head>
<body>

    

    <section>
        <div class="volver">
            <button onclick="goBack()">Volver</button>
            <script>
                function goBack() {
                  window.history.back();
                }
                </script>
              
        </div>
        <img class="imeg" src="/Galter/Appgalter/img/logo.png" alt=""> 

        <img class="usu1" src="/Galter/Appgalter/img/Usua1.jpg" alt="">

        
        
        <h2>Carlos Rodriguez</h2>
        <h2>Administrador</h2>
    </section>




    <div class="container">
        <div class="listar_Prod">

            <a href="insertarProd.html">
                <img class="contx" src="/Galter/Appgalter/img/agragar.png   " alt="Descripción de la imagen">
              </a>
              <h1>Agregar Material </h1>
              
        </div>


        <div class="listar_Mate">
        
            <a href="insertarMate.html">
                <img class="contx" src="/Galter/Appgalter/img/actualizar.png" alt="Descripción de la imagen">
              </a>
              <h1>Actualizar Material</h1>
              
        </div>
        <div class="calculadora">
            
            <a href="otra_pantalla.html">
                <img class="contx" src="/Galter/Appgalter/img/eliminar.png" alt="Descripción de la imagen">
              </a>
              <h1>Eliminar Material </h1>

        </div>
    
    
</body>
</html>
