{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css'%}">
    <title>Registro</title>
</head>
<header>
    <img class="logo" src="../static/img/logo.png" alt="">
</header>
<body>
  <section class="form">
      <h1>Registro</h1>
      <input class="controls" type="text" name="usuario" id="usuario" placeholder="Usuario ">
      <input class="controls"  type="email" name="correo" id="correo" placeholder="Correo ">
      <input class="controls"  type="text" name="telefono" id="telefono" placeholder="Telefono">
      
      <a href="/codigo"><input class="botons" type="submit" value="Siguiente"></a>
      <p><a href="/index">Volver</a></p>
  </section>
  
</body>
</html>