body {
    background-color: rgb(3, 3, 51);
    display: flex;
}

section{
    margin-top: 30px;
    margin-left: 5%;
    width: 300px;
    height: 800px;
    background-image: url("../img/marek-piwnicki-fKjPKFeilfg-unsplash.jpg");
    background-size: cover;
    border-radius: 30px;
}
.imeg{
    width: 250px ;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.volver{
    margin-left: 20px;
}
button{
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    font-size: 20px;
}
.container {
    width: 800px;
    height: 800px;
    /* background-color: rgba(7, 41, 213, 0.402); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
}
.listar_Prod,
.listar_Mate,
.calculadora {
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-top: 10%;
    border-color: rgb(255, 255, 255);
    border-width: 1px; 
    border-style: solid;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.listar_Prod:hover,
.listar_Mate:hover,
.calculadora:hover {
    transform: scale(1.1); 
}

.listar_Prod,
.listar_Mate {
    order: 1
}

.calculadora,
.opciones {
    order: 2;
}

listar_Prod{
    background-color: rgb(3, 3, 51);
}
.listar_Mate{
    background-color: rgb(3, 3, 51);
}
.calculadora{
    background-color: rgb(3, 3, 51);
}


#listarProd{
    width: 50%;
    background: navy;
    border: none;
    color: white;
    padding: 5px;
    margin: 16px ;
    margin-top: 5%;
    margin-left: 50px;
    font-size: 16px;
    border-color: rgb(255, 255, 255);
    border-width: 3px; 
    border-style: solid;
    border-radius: 20px;
    font-size: 10px;
}
.contx{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 70px;
    
}
h1{
    color: white;
    margin-top: 20px;
    margin-left: 70px;
}
.usu1{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 50px;
}
h2{
    width: 190px;
    color: white;
    margin-left: 15%;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 4px black;
    padding-left: 10px;
    transition: transform 0.3s ease;
}
h2:hover{
    transform: scale(1.1); 
}




@media screen and (max-width: 767px) {
    body {
        position: absolute;
        display: block;
    }
    section{
        margin-left: 0%;
        width: 140%;
        height: 550px;
        background:linear-gradient(20deg, blue,black);
        border-radius: 30px;
    }
    .imeg{
        position: relative;
        width: 150px ;
        height: 100px;
        margin-top: 20px;
        margin-left: 30%;
    }
    .usu1{
        width: 100px;
        height: 100px;
        margin-left: 35%;
        margin-top: 50px;
    }
    h2{
        width: 150px;
        font-size: large;
        color: white;
        margin-left: 25%;
        margin-bottom: 0px;
        box-shadow: 2px 2px 2px 4px black;
    }
    .container {
        position: absolute;
        width: 800px;
        height: 800px;
        /* background-color: rgba(7, 41, 213, 0.402); */
        display: block;
        flex-wrap: wrap;
        margin-bottom: 10%;
    }

    
    

}
  